<%= form_for(@challenge) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :task, placeholder: "Compose new challenge..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>