@charset "UTF-8";
/* CSS Document */

html, body{
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin:0;
	width:100%;
	height:100%;
	font-weight:300;
	background:white;
}
a{
	text-decoration:none
}
#log-in-sign-up{
	width:313px;
	height:344px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-172px 0 0 -302px;
	padding-left:295px;
	/*changed*/
	background-image:asset-data-url("right-glow.png") left top no-repeat;
}
#footer{
	height:92px;
	bottom:0;
	position:fixed;
	background:#333333;
	width:100%;
}
#footer-logo{
	/*changed*/
	background-image:asset-data-url("bottom-logo.png") right top no-repeat;
	float:right;
	margin:28px 34px 0 0;
	width:180px;
	height:33px;
}
#footer a{
	float:left;
	margin:36px 0 0 29px;
	color:white;
	font-size:14px;
}
input{
	border:1px #B9B9C8 solid;
	border-radius:4px;
	padding:4px 0 0 8px;
	width:264px;
	height:35px;
	font-size:15px;
	color:black;
	margin-bottom:20px
}
.btn-primary{
	cursor:pointer;
	padding-bottom:4px;
	color:white;
	background-color:#3F9FDC;
	border:1px #3F9FDC solid;
}
/* new style sheet*/
#navbar{
	height:90px;
	padding-top:25px;
	background:#333;
	color:white;
}
#navbar h1{
	font-weight:300;
	margin:0;
	font-size:52px;
}
#sidebar-a{
	width:126px;
	height:80px;
	background:image-url("menu.png") center center no-repeat;
	float:left
}
#content{
	width:784px;
	margin:33px auto 33px auto;
}
.event{
	border:1px #DBDBEA solid;
	border-radius:3px;
	background:#FAFAFA;
	box-shadow:0px 0px 2px #B9B9C8;
	padding:18px 22px 46px 22px;
	width:748px;
	font-size:24px;
	color:858593
}
.event-detail{
	color:#858593;
}
.event-meta{
	color:#858593;
	font-size:18px;
	margin-top:14px;
	margin-left:63px;
}
.event a{
	color:black
}
.event img{
	float:left;
	margin-right:13px
}
#sidebar{
	position:absolute;
	height:100%;
	width:300px;
	border-right:1px #CCCDDB solid;
	background:white;
	z-index:999;
	display:none;
}

#exit{
	position:absolute;
	height:100%;
	width:100%;
background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.money{
	background:url(/assets/s-money.png) left center no-repeat;
	padding-left:28px;
	float:left;
}
.date{
	background:url(/assets/s-date.png) left center no-repeat;
	padding-left:28px;
	float:left;
	margin-left:29px;
}
.progress{
	background:url(/assets/s-process.png) left center no-repeat;
	padding-left:28px;
	float:left;
	margin-left:29px;
}
#add{
	background:url(/assets/add.png);
	width:87px;
	height:84px;
	position:absolute;
	right:54px;
	top:62px
}
#add-pop{
	position:absolute;top:20%;z-index:1000;left:15%;display:none;text-align:center;padding-top:40px;
	font-size:14px
}
.usericon{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	margin-right:10px
}
.small-usericon{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	margin-left:10px
}
.btn-yes{
	background:#2C9DDE;
	color:white;
	width:90px;
	padding:2px;
	margin-left:20px;
	font-size:14px;
	border:none;
	margin-bottom:0;
	cursor:pointer
}
.btn-no{
	color:black;
	width:90px;
	padding:2px;
	margin-left:20px;
	font-size:14px;
	border:none;
	margin-bottom:0;
	cursor:pointer
}
#sidebar a{
	border-bottom:1px #E6E6E6 solid;
	padding:20px 0 20px 20px;
	width:280;
	display:block;
	font-weight:normal;
	color:#666;
}
#sidebar a:hover{
	background:#E1E1E1;
}

.edit_user{
	text-align: center;
}