/*for index.html*/

a{
	text-decoration:none
}
#h-navbar{
	width:100%;
	height:50px;
	background:white url(/assets/navbar.png) bottom repeat-x;
	padding-top:18px
}
#logo{
	background:image-url("/assets/logo.png");
	width:180px;
	height:25px;
	display:block;
	margin:0 0 0 27px;
}
#nav-right{
	float:right;
	margin-right:50px;
}
#nav-right a{
	width:88px;
	border-radius:5px;
	height:25px;
	float:right;
	margin-left:18px;
	text-align:center;
	padding-top:9px;
	font-size:12px
}
#signup{
	background:#DDDDDD;
	border:1px #DDDDDD solid;
	color:black
}
#login{
	background:#2C9DDE;
	border:1px #2C9DDE solid;
	color:white
}
#img{
	height:262px;
	width:100%;
	text-align:center;
	padding-top:148px;
	text-align:center;
	color:white;
}
.h1{
	font-size:45px;
	margin-bottom:16px;
}
.h2{
	font-size:35px;
}
#content{
	text-align:center;
	padding-top:32px;
	background:white;
}
.icondes{
	margin:60px auto 0 auto;
	width:745px;
	margin-left:auto;
	background:white;
	text-align:center
}
.icondes-left{
	width:321px;
	float:left
}
.icondes-right{
	width:321px;
	float:right
}
#sign-up-bottom{
	background:#3F9FDC;
	text-align:center;
	font-size:16px;
	padding-top:13px;
	height:35px;
	color:white;
	width:344px;
	display:block;
	margin:30px auto 30px auto;
	border:1px #4DA1DA solid;
	border-radius:8px
}
#footer{
	height:92px;
}
#footer-logo{
	background:url(/assets/bottom-logo.png) right center no-repeat;
	float:right;
	margin:28px 34px 0 0;
	width:180px;
	height:33px;
}
#footer a{
	float:left;
	margin:36px 0 0 29px;
	color:white;
	font-size:14px;
}