<div style="clear:both"></div>
<div id="footer">
	<a href="/">About</a>
	<a href="/">Contact</a>
	<a href="/">FAQs</a>
	<a href="/">Sign Up</a>
	<a href="/">Log In</a>
	<div id="footer-logo"></div>
<div style="clear:both"></div>
</div>