

<!-- add begins -->
<div class="event" id="add-pop">

    <form class="new_challenge" id="new_challenge" action="/challenges" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Fmi8DXWj0Sa5l+UbeRzrjqHK/nbudnZZipJtI+I69Y6AGWbAnD08MhfGLvpwQfCZ4XoyV+y/XeGfXBD1CgUhag==" />
      <input placeholder="Title" type="text" name="challenge[title]" id="challenge_title" />
<br/>
      <input placeholder="Challenge description" type="text" name="challenge[task]" id="challenge_task" />
<br/>End date<br/>
      <input type="date" name="challenge[endDate]" id="challenge_endDate"/>
<br/>
      <input step="any" placeholder="Money amount" type="number" name="challenge[money]" id="challenge_money" />
<br/>
      <input type="submit" name="commit" value="Create my challenge" class="btn btn-primary" />
</form>
</div>
<!-- add ends -->
<!-- header begins -->
  <!-- side bar begins -->
    <div id="sidebar">
          <%= link_to "Home", current_user %>
          <%= link_to "Newsfeed", root_path %>
          <%= link_to "Profile", edit_user_path(current_user) %>
          <%= link_to "Log Out", logout_path, method: "delete" %>
        </div>
        <div id="exit"></div>
<div id="navbar">

  <a href="#" id="sidebar-a"></a> <!-- sidebar link-->
    <a href="#" id="add"></a> <!-- add link-->
  
  <% if current_page?(root_path) %>
    <h1>Newsfeed</h1>
  <% else %>
    <h1>Home</h1>
  <% end %>
</div>
  <script type="text/javascript">
$( document ).ready(function() {
$('#sidebar-a').click(function () {
   $('#sidebar').show();
   $('#exit').show();
});
$('#exit').click(function () {
   $('#sidebar').hide();
   $('#exit').hide();
   $('#add-pop').hide();
});
$('#add').click(function () {
   $('#exit').show();
   $('#add-pop').show();
});

});
</script>